---
# AWS config
setup_aws_domain: {{ setup_aws_domain }}
setup_aws_key_name: {{ setup_owner_tag }}
setup_aws_profile: {{ setup_aws_profile }}
setup_aws_region: {{ setup_aws_region }}
setup_aws_route53_profile: {{ setup_aws_profile }}
setup_aws_vpc_name: {{ setup_owner_tag + '-demokit' }}
setup_owner_tag: {{ setup_owner_tag }}
setup_project_tag: demokit
setup_ssh_private_key: {{ setup_ssh_private_key }}
setup_ssh_public_key: {{ setup_ssh_public_key }}
setup_windows_password: {{ setup_windows_password }}

# Docker EE config
setup_docker_ee_url: {{ setup_docker_ee_url }}
setup_ucp_password: {{ setup_ucp_password }}
